*,
*:after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dongle", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.busniess-icon-class {
  padding-right: 8px;
  height: 48px;
  cursor: pointer;
}

ul {
  text-decoration: none;
  margin: 0 !important;
  padding: 0 !important;
}

li {
  text-decoration: none;
}

.row > * {
  padding: 0 !important;
}
.app-container {
  width: 100vw;
  height: 100vh;
}

.btn {
  padding: 16px 28px;
  font-size: 24px !important;
  min-width: 200px;
}

.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mt-5 {
  margin-top: 40px;
}

.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}

.mr-2 {
  margin-right: 16px;
}
.mr-3 {
  margin-right: 24px;
}
.mr-4 {
  margin-right: 32px;
}
.mr-5 {
  margin-right: 40px;
}

.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}
.ml-4 {
  margin-left: 32px;
}
.ml-5 {
  margin-left: 40px;
}

.login-btn {
  padding: 12px 18px !important;
  min-width: 150px;
  border-radius: 8px;
}

.container-fluid {
  padding: 0 !important;
}

@import "./SCSS/home";
@import "./SCSS/footer";
@import "./SCSS/about";
@import "./SCSS/navBar";
@import "./SCSS/login";
