.about-section{
    background: aliceblue;
}

.main{
    display: flex;
    margin-top: 10rem;
}

.cap h3{
    font-size: 19rem;
}

.sm{
    margin: auto 0px;
    h5{
        margin: 0px;
        font-size: 5rem;
    }
}