.footer {
  padding-top: 80px;
  border-top: solid 1px #f8f8f8;
  background: #f8f8f8;

  .container- {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .row {
      display: flex;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .container-item {
        padding: 32px 32px 0 32px;
        .footer .footer-item {
          margin-bottom: 60px;
        }
      }
    }
  }
}
