.footer {
  margin-top: 64px;
  padding: 40px 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000000;
  .footer-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    border-bottom: 1px solid #373636;
    .busniess-info {
      margin-right: 60px;
      width: 323px;
      .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .img-text {
          padding-right: 8px;
          h3 {
            color: #ffffff;
          }
          .busniess-text {
            a {
              word-break: break-all;
              color: #757575;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .info-section {
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .busniess-info {
      margin-right: 60px;
      width: 323px;
      display: flex;
      flex-direction: column;
      .sub-heading {
        display: flex;
        align-items: center;
        .contact-us-btn {
          background-color: #ff5e14;
        }
      }
    }
  }
}
.bottom-fotter {
  background-color: #202020;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-links {
    padding-right: 8px;
    .page-item {
      margin-right: 12px;
      text-decoration: none;
      color: #ffffff;
    }
  }
}
.social-heading {
  margin-top: 16px;
  font-weight: 600;
  color: #fff;
  font-size: 28px;
}

.site-logo {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #bd9518;
    cursor: pointer;
  }
}
