.footer {
  letter-spacing: 2px;
  padding: 70px 0px;
  background-color: #f1f1f1;
}

.container1 {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 25%;
  padding: 0px 15px;
}

.col ul {
  list-style: none;
}

.col h3 {
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  color: #3f4755;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.col ul li a {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  color: #eb6864;
  text-decoration: none;
  display: block;
}

.col ul li a:hover {
  color: rgb(128, 52, 52);
  // padding: 8px;
}

.col .social-links a {
  display: inline-block;
  height: 51px;
  width: 51px;
  background-color: gray;
  color: white;
  margin-right: 15px;
  padding: 3px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.col .social-links a:hover {
  color: white;
  background-color: #0098ff;
  // padding: 5px;
}

@media (max-width: 950px) {
  .col {
    width: 50%;
    padding: 0px 15px;
  }
}
@media (max-width: 460px) {
  .col {
    width: 100%;
    text-align: center;
  }
}
