.site-navbar {
  margin-bottom: 0;
  background-color: #202020;
  color: #ffffff;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem;
  position: absolute;
}

.justify-content-right {
  justify-content: right;
  align-items: right;
}

.logout-nav-item {
  .logout-icon {
    height: 52px;
    cursor: pointer;
  }
}

//side bar

.admin-side-bar {
  height: 100%;
  width: 200px;
  background-color: #2f4050;

  .list-container {
    padding-top: 16px !important;
    .list-item {
      color: #ffffff;
      text-align: center;
      font-size: 22px;
      padding: 4px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-item-icon {
        height: 35px;
      }
    }
  }
}
