.site-navbar {
  margin-bottom: 0;
  background-color: #202020;
  color: #ffffff;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem;
  position: absolute;
}

.justify-content-right {
  justify-content: right;
  align-items: right;
}

.logout-nav-item {
  .logout-icon {
    height: 52px;
    cursor: pointer;
  }
}
